.header-container {
    display: flex;
    align-items: center;
    background-color: #080000;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.header-img {
    height: 100px;
    margin-left: 1rem;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}