.boton-generico {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: 1px solid #F66249;
  border-radius: 4px;
  padding: 0.2rem 1.8rem;
  background-color: #F66249;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.boton-generico:hover{
    color: black;
    background-color: #fba08a;
    transform: translateY(-3px);  
}

