.boton-personalizado {
    display: inline-flex;   /* centra icono y texto */
    align-items: center;    /* alineación vertical */
    text-decoration: none;
    color: white;
    background-color: #F66249;
    border: 1px solid #F66249;
    padding: 0.2rem 1rem !important;
    border-radius: 5px;
    font-size: 19px;  /* Tamaño de letra en px */
    font-weight: 500; /* Grosor de la fuente */
    text-decoration: none; /* Sin subrayado */
}

.boton-personalizado:hover {
    color: black !important;
    background-color: darkorange;
}


