.explora-materiales{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.grid-material-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-section {
  width: 850px;
  display: flex;
  margin: 20px auto;
}

.youtube-video-container {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
}

.youtube-video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.texto-guiadefinitiva-h2{
  display: flex;
  justify-content: center;
  margin: 150px 80px 0px 80px;  
}