html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la altura de la ventana */
}

.main-content {
  flex: 1; /* crece para empujar el footer abajo */
  padding-top: 80px; /* para compensar el navbar */
}

/* Tu max-width y centrado solo dentro del contenido */
.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
