/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente Global */
body{
    font-family: 'Poppins', sans-serif;
}

/* Estructura base de la página completa */
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}